*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FEE074;
}
nav{
    background:rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 60px;
}
label.logo1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FEE074;
    padding: 0px 0px 0px 100px;
}
label.logo2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
}
nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0px 30px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 13px;
}
a.klik, a:hover{
    background: #fff242b7;
    text-decoration: underline;
    transition: .5s;
}
#login{
    background: rgba(188, 154, 32, 0.9);
    border-radius: 50px;
}
.container{
    width: 100%;
}
table, th, td{
    margin-top: 100px;
    margin: auto;
    padding: 3px;
}
table{
    margin-top: 30px;
    width: 60%
}
tr{
    width: 100%;
}
input[type=text]{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F2EFAD;
    height: 23px;
    outline: none;
}
textarea{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F2EFAD;
    outline: none;
}
#masukkangambar{
    background-color: white;
}
.tombol button{
    width: 80px;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}
.tombol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbtn{
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    color: black;
    display: none;
}

#check{
    display: none;
}
.menubtn img{
    width: 30px;
}

@media only screen and (max-width:1300px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 50px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    label.logo1{
        font-size: 30px;
        line-height: 50px;
        color: #FEE074;
        padding: 0px 0px 0px 5%;
    }
    label.logo2{
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
        padding: 0px 0px 0px 0px;
    }
    nav ul{
        float: right;
        margin-right: 5%;
    }
    nav ul li{
        display: inline-block;
        line-height: 50px;
        margin: 0px 20px;
    }
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 13px;
    }
    .container{
        margin: auto;
        margin-top: 60px;
        width: 1000px;
    }
    .container table{
        width: 80%;
    }
    input[type=text]{
        width: 80%;
        height: 23px;
        outline: none;
    }
    input[type=file]{
        font-size: 10px;
        width: 150px;
        height: 18px;
        outline: none;
    }
    textarea{
        width: 80%;
    }
    textarea#deskripsi{
        width: 92%;
    }
}

@media only screen and (max-width: 768px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 40px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }

    label.logo1{
        font-size: 20px;
        line-height: 40px;
        padding-left: 40px;
        margin-left: 20px;
    }

    label.logo2{
        font-size: 20px;
        line-height: 40px;
    }
    nav ul li a{
        font-size: 12px;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 200px;
        background:rgba(255, 255, 255, 0.8);
        top: 40px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked~ul{
        left: 0;
    }

    .checkbtn{
        line-height: 50px;
        display: block;
    }
    .menubtn img{
        width: 20px;
    }
    .container{
        font-size: 10px;
        margin: auto;
        margin-top: 60px;
        width: 500px;
    }
    .container table, th, td{
        width: 500px;
    }
    input[type=text]{
        font-size: 8px;
        width: 200px;
        height: 16px;
        outline: none;
    }    
    input[type=checkbox]{
        width: 8px;
        height: 8px;
        outline: none;
    }
    input[type=file]{
        font-size: 8px;
        width: 120px;
        height: 16px;
    }
    textarea{
        font-size: 8px;
        width: 200px;
    }
    textarea#deskripsi{
        width: 500px;
    }
    .tombol button{
        width: 40px;
        padding: 1px;
        font-size: 8px;
    }
    .tombol{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

}
