*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
nav{
    background:rgba(255, 255, 255, 1);
    width: 100%;
    height: 60px;
    transition: 0.4s;
    position: fixed;
    top: 0;
    z-index: 99;
}
label.logo1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FEE074;
    padding: 0px 0px 0px 100px;
}
label.logo2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
}
nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0px 30px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 13px;
}
a.klik, a:hover{
    background: #fff242b7;
    text-decoration: underline;
    transition: .5s;
}

#login{
    background: rgba(188, 154, 32, 0.9);
    border-radius: 50px;
}

h1#jalanjalan{
    font-size: 50px;
    font-family: basic;
    color: #FEE074;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 200px;
}
h1#jatim{
    font-size: 50px;
    text-align: center;
}

h3{
    font-size: 20px;
    text-align: center;
    padding: 10px 50px;
    color: white;
    background-color:rgba(3, 3, 3, 0.4);
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 30px;
}
h2{
    text-align: center;
    padding: 10px;
}
.homeatas{
    background-image: url("Gambar Mlakujatim/bg home.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
a#pesan{
    color: black;
    background: none;
    text-decoration: none;
    transition: .5s;
}
#pesanbtn{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.covid{
    display: flex;
    justify-content: space-evenly;
}
#jawatimur{
    font-size: 20px;
    margin-top: 20px;
    margin-left: -50px;
}
.kasus{
    background-color: #FFCF22;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    margin-top: 100px;
    margin-left: -150px;
    text-align: center;
}
.sembuh{
    background-color: #FFCF22;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}
.wafat{
    background-color: #FFCF22;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}
.subhome{
    color:#FEE074;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-size: 24px;
    margin: 30px 0px;
    padding-top: 20px;
}
.museum1 img{
    width: 140px;
    height: 100px;
}
.bot{
    background-color: #F2EFAD;
    top: 500px;
    margin: auto;
}
.museum1{
    width: 80%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    justify-content: space-evenly;
}
.museum2 img{
    width: 140px;
    height: 100px;    
}
.museum2{
    width: 80%;
    height: 50%;
    top: 30px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-bottom: 60px;
    justify-content: space-evenly;
}
.container{
    padding: 5px;
}
a.hold{
    color: black;
    background: none;
    text-decoration: none;
    transition: .5s;
}
.angkutmalang{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.satwa{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tantular{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brawijaya{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trisula{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.karno{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.november10{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tubuh{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video{
    text-align: center;
    padding: 0 0 20px;
}
.video video{
    outline: none;
}
#vid2{
    margin-left: 150px;
}
.artikel{
    background-color: rgba(192, 156, 23, 0.7);
    margin: auto;
    padding-bottom: 30px;
}
.daftarartikel1{
    text-align: center;
    display: flex;
    margin: 0 150px 0 150px;
    justify-content: space-evenly;
}
.daftarartikel1 img{
    width: 220px;
    height: 123px;
}
.daftarartikel1 h5{
    margin-bottom: 10px;
}
.daftarartikel1 p{
    font-size: 12px;
    font-family: sans-serif;
}
.daftarartikel2{
    text-align: center;
    display: flex;
    margin: 0 150px 0 150px;
    justify-content: space-evenly;
}
.daftarartikel2 h5{
    margin-bottom: 10px;
}
.daftarartikel2 img{
    width: 220px;
    height: 123px;
}
.daftarartikel2 p{
    font-size: 12px;
    font-family: sans-serif;
}
a.herfbaca:hover{
    background: none;
    text-decoration: none;
    transition: .5s;
}
.baca{
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color:rgba(3, 3, 3, 0.4);
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 10px;
} 

.footer{
    background-color:#FFCF22 ;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    height: 220px;
}
label.footer1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
    color: #FEE074;
}
label.footer2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
    color: #FFFFFF;
}
.footer p{
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.flexfooter{
    text-align: center;
    padding-top: 20px;
}

.definisi p{
    font-size: 16px;
}
.link{
    margin-top: -20px;
}
.sosmed img{
    width: 60px;
}
.simbol{
    margin-top: 20px;
}
a.sosmed:hover{
    background: none;
    text-decoration: none;
}

.checkbtn{
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    color: black;
    display: none;
}

#check{
    display: none;
}
.menubtn img{
    width: 30px;
}

@media only screen and (max-width:1300px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 50px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    label.logo1{
        font-size: 30px;
        line-height: 50px;
        color: #FEE074;
        padding: 0px 0px 0px 5%;
    }
    label.logo2{
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
        padding: 0px 0px 0px 0px;
    }
    nav ul{
        float: right;
        margin-right: 5%;
    }
    nav ul li{
        display: inline-block;
        line-height: 50px;
        margin: 0px 20px;
    }
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 13px;
    }

    .footer{
        background-color:#FFCF22 ;
        margin: auto;
        text-align: center;
        padding: 20px 0;
        position: relative;
        top: 20px;
        display: flex;
        justify-content: space-evenly;
        height: 180px;
    }
    label.footer1{
        font-size: 30px;
    }
    label.footer2{
        font-size: 30px;
    }
    .footer p{
        font-size: 16px;
        margin-top: 20px;
    }
    .flexfooter{
        display: flex;
        text-align: center;
        padding-top: 20px;
    }

    .definisi p{
        font-size: 14px;
    }
    .link{
        margin-top: -20px;
    }
    .simbol{
        margin-top: 20px;
    }
    .link img{
        width: 40px;
    }

}

@media only screen and (max-width: 768px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 40px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }

    label.logo1{
        font-size: 20px;
        line-height: 40px;
        padding-left: 40px;
        margin-left: 20px;
    }

    label.logo2{
        font-size: 20px;
        line-height: 40px;
    }
    nav ul li a{
        font-size: 12px;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 200px;
        background:rgba(255, 255, 255, 0.8);
        top: 40px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked~ul{
        left: 0;
    }

    .checkbtn{
        line-height: 50px;
        display: block;
    }
    .menubtn img{
        width: 20px;
    }

    .footer{
        background-color:#FFCF22 ;
        margin: auto;
        text-align: center;
        padding: 10px 0;
        position: relative;
        top: 0px;
        display: flex;
        justify-content: space-evenly;
        height: 130px;
    }
    label.footer1{
        font-size: 20px;
    }
    label.footer2{
        font-size: 20px;
    }
    .footer p{
        font-size: 10px;
        margin-top: 20px;
    }
    .flexfooter{
        display: flex;
        text-align: center;
        padding-top: 16px;
    }

    .definisi p{
        font-size: 10px;
        margin-top: 20px;
    }
    .link{
        margin-top: -20px;
    }
    .simbol{
        margin-top: 10px;
    }
    .link img{
        width: 25px;
    }

    .homeatas{
        height: 280px;
    }

    h1#jalanjalan{
        font-size: 25px;
        padding-top: 100px;
    }
    h1#jatim{
        font-size: 25px;
    }
    
    h3{
        font-size: 12px;
        padding: 5px 25px;
        margin-top: 25px;
    }
    h2{
        font-size: 15px;
    }

    #jawatimur{
        font-size: 15px;
        margin-top: 8px;
        margin-left: -30px;
    }
    #defend{
        width: 180px;
        height: 150px;
        margin-left: -30px;
        margin-top: -30px;
    }
    .kasus{
        font-size: 10px;
        width: 80px;
        padding: 10px;
        margin-top: 50px;
        margin-left: -140px;
    }
    .sembuh{
        font-size: 10px;
        width: 80px;
        padding: 10px;
        margin-top: 50px;
    }
    .wafat{
        font-size: 10px;
        width: 80px;
        padding: 10px;
        margin-top: 50px;
    }
    .subhome{
        font-size: 15px;
    }
    .museum1 img{
        width: 80px;
        height: 70px;
    }

    .museum1{
        font-size: 6px;
    }
    .museum2 img{
        width: 80px;
        height: 70px;  
    }
    .museum2{
        font-size: 6px;
    }
    .video h4{
        margin-top: 0;
    }

    .video video{
        width: 180px;
        height: 120px;
    }

    #vid2{
        margin-left: 100px;
    }

    .artikel{
        padding-bottom: 10px;
    }
    .artikel h4{
        margin-bottom: 15px;
    }
    .daftarartikel1{
        margin: auto;
    }
    .daftarartikel1 img{
        width: 120px;
        height: 70px;
    }
    .daftarartikel1 h5{
        font-size: 8px;
    }
    .daftarartikel1 p{
        font-size: 6px;
    }
    .daftarartikel2{
        margin: auto;
    }
    .daftarartikel2 h5{
        font-size: 8px;
    }
    .daftarartikel2 img{
        width: 120px;
        height: 70px;
    }
    .daftarartikel2 p{
        font-size: 6px;
    }

    .baca{
        margin: auto;
        margin-top: 5px;
        width: 100px;
        font-size: 8px;
        padding: 5px 5px;
    } 
}
