*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FEE074;
}
nav{
    background:rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 60px;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    top: 0;
    z-index: 99;
}
label.logo1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FEE074;
    padding: 0px 0px 0px 100px;
}
label.logo2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
}
nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0px 30px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 13px;
}
a.klik, a:hover{
    background: #fff242b7;
    text-decoration: underline;
    transition: .5s;
}
#logo:hover{
    text-decoration: none;
    transition: 0s;
    background: none;
}
#login{
    background: rgba(188, 154, 32, 0.9);
}
.judul{
    text-align: center;
    margin: 20px 40% 20px;
    padding: 20px;
    border: 2px solid white;
    background-color:rgba(255, 255, 255, 0.234);
}
h1{
    font-size: 40px;
}
#cari{
    font-family: sans-serif;
    font-size: 18px;
    margin: 20px 25% 15px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 0px;
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.534);
    outline: none;
}
.cari{
    box-sizing: border-box;
    height: 110px;
}

#btncari{
    display: flex;
    justify-content: center;
}

#btncari button{
    text-align: center;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
    color: grey;
    height: 25px;
    outline: none;
}
a#btna:hover{
    text-decoration: none;
    background: none;
}
.atas{
    background-image: url("Gambar Mlakujatim/kuliner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 55%;
    left: 0px;
    top: 60px;
    padding-top: 75px;
}
h2{
    text-align: center;
    margin-top: 34%;
    margin-bottom: 20px;
}
.panah{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#panah1{
    margin-left: 150px;
}
#panah2{
    margin-right: 150px;
}
#panah1:hover{
    text-decoration: none;
    transition: 0s;
    background: none;
}
#panah2:hover{
    text-decoration: none;
    transition: 0s;
    background: none;
}
.grid-container img{
    width: 149.5px;
    height: 100px;
}

.grid-container{
    box-sizing: border-box;
    left: 0;
    top: 0;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 2px;
}

.container{
    padding: 5px;
}
.baksomalang{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bebeksinjay{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lodhoayam{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lontongbalap{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rawonsetan{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rujaksoto{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sotolamongan{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tahutek{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a.klikgambar{
    text-decoration: none;
    color: black;
}
.footer{
    background-color:#FFCF22 ;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 220px;
}
label.footer1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
    color: #FEE074;
}
label.footer2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
    color: #FFFFFF;
}
.footer p{
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.flexfooter{
    text-align: center;
    padding-top: 20px;
}

.definisi p{
    font-size: 16px;
}
.link{
    margin-top: -20px;
}
.sosmed img{
    width: 60px;
}
.simbol{
    margin-top: 20px;
}
a.sosmed:hover{
    background: none;
    text-decoration: none;
}
.checkbtn{
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    color: black;
    display: none;
}

#check{
    display: none;
}
.menubtn img{
    width: 30px;
}
@media only screen and (max-width:1300px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 50px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    label.logo1{
        font-size: 30px;
        line-height: 50px;
        color: #FEE074;
        padding: 0px 0px 0px 5%;
    }
    label.logo2{
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
        padding: 0px 0px 0px 0px;
    }
    nav ul{
        float: right;
        margin-right: 5%;
    }
    nav ul li{
        display: inline-block;
        line-height: 50px;
        margin: 0px 20px;
    }
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 13px;
    }
    .judul{
        text-align: center;
        margin: 20px 42% 20px;
        padding: 10px;
        border: 2px solid white;
        background-color:rgba(255, 255, 255, 0.234);
    }
    h1{
        font-size: 20px;
    }
    #cari{
        font-family: sans-serif;
        font-size: 14px;
        margin: 20px 25% 15px;
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .cari{
        box-sizing: border-box;
        height: 90px;
    }
    
    #btncari{
        display: flex;
        justify-content: center;
    }
    
    #btncari button{
        text-align: center;
        margin: 0 auto;
        border: 1px solid;
        border-radius: 10px;
        width: 70px;
        height: 20px;
    }
    
    .atas{
        background-image: url("Gambar Mlakujatim/kuliner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 325px;
        left: 0px;
        top: 0px;
        padding-top: 75px;
    }
    h2{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .panah img{
        width: 30px;
    }
    .footer{
        background-color:#FFCF22 ;
        margin: auto;
        text-align: center;
        padding: 20px 0;
        position: relative;
        top: 20px;
        display: flex;
        justify-content: space-evenly;
        height: 180px;
    }
    label.footer1{
        font-size: 30px;
    }
    label.footer2{
        font-size: 30px;
    }
    .footer p{
        font-size: 16px;
        margin-top: 20px;
    }
    .flexfooter{
        display: flex;
        text-align: center;
        padding-top: 20px;
    }

    .definisi p{
        font-size: 14px;
    }
    .link{
        margin-top: -20px;
    }
    .simbol{
        margin-top: 20px;
    }
    .link img{
        width: 40px;
    }

}

@media only screen and (max-width: 768px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 40px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }

    label.logo1{
        font-size: 20px;
        line-height: 40px;
        padding-left: 40px;
        margin-left: 20px;
    }

    label.logo2{
        font-size: 20px;
        line-height: 40px;
    }
    nav ul li a{
        font-size: 12px;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 200px;
        background:rgba(255, 255, 255, 0.8);
        top: 40px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked~ul{
        left: 0;
    }

    .checkbtn{
        line-height: 50px;
        display: block;
    }
    .menubtn img{
        width: 20px;
    }
    .container{
        padding: 3px 0px;
        font-size: 6px;
    }
    
    .grid-container img{
        width: 80px;
        height: 70px;
    }
    
    .grid-container{
        box-sizing: border-box;
        left: 0;
        top: 0;
        display: grid;
        grid-gap: 30px;  
        justify-content: center;
        align-content: center;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 7px;
        text-align: center;
        padding: 0px;
    }
    .judul{
        text-align: center;
        margin: 20px 42% 20px;
        padding: 10px;
    }
    h1{
        font-size: 14px;
    }
    #cari{
        font-family: sans-serif;
        font-size: 8px;
        margin: 20px 30% 15px;
        width: 40%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    .cari{
        box-sizing: border-box;
        height: 70px;
    }
    
    #btncari{
        display: flex;
        justify-content: center;
    }
    
    #btncari button{
        font-size: 8px;
        text-align: center;
        margin: 0 auto;
        width: 50px;
        height: 14px;
    }
    
    .atas{
        background-image: url("Gambar Mlakujatim/kuliner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 260px;
        left: 0px;
        top: 0px;
        padding-top: 60px;
    }
    h2{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    #panah1{
        margin-left: 10%;
    }
    #panah2{
        margin-right: 10%;
    }
    .panah img{
        width: 20px;
    }
    .footer{
        background-color:#FFCF22 ;
        margin: auto;
        text-align: center;
        padding: 10px 0;
        position: relative;
        top: 20px;
        display: flex;
        justify-content: space-evenly;
        height: 130px;
    }
    label.footer1{
        font-size: 20px;
    }
    label.footer2{
        font-size: 20px;
    }
    .footer p{
        font-size: 10px;
        margin-top: 20px;
    }
    .flexfooter{
        display: flex;
        text-align: center;
        padding-top: 16px;
    }

    .definisi p{
        font-size: 10px;
        margin-top: 20px;
    }
    .link{
        margin-top: -20px;
    }
    .simbol{
        margin-top: 10px;
    }
    .link img{
        width: 25px;
    }
}