*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(bg\ 4.png);
    background-size: cover;
    margin-bottom: 20px;
}
nav{
    background:rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 60px;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    top: 0;
    z-index: 99;
}
label.logo1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FEE074;
    padding: 0px 0px 0px 100px;
}
label.logo2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
}
nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0px 30px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 13px;
}
a.klik, a:hover{
    background: #fff242b7;
    text-decoration: underline;
    transition: .5s;
}
#login{
    background: rgba(188, 154, 32, 0.9);
}
.atas{
    background-image: url(wotuolu.png);
    position: relative;
    background-repeat: no-repeat;
    width: 85%;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    top: 60px;
    background-size: cover;
    padding-top: 40px;
}
.judul{
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 20px;
    color: white;
    text-decoration-line: underline;
}

.transaksi{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #E1C048;
    margin-top: 100px;
    margin-bottom: 50px;
}
.tgl{
    text-align: center;
    margin : auto;
    margin-right: 15%;   
    margin-left: 20%;
    border: 2px solid black;
    padding: 20px;
}

.total{
    text-align: center;
    margin : auto;
    margin-right: 20%;
    border: 2px solid black;
    padding: 20px;
}
.pilih{
    text-align: center;
    margin: auto;
}
.metode img{
    width: 50px;
    height: 60px;
    left: 0px;
    top: 100px;
}
.metodeatas{
    height: 50%;
    top: 40px;
    display: flex;
    box-sizing: border-box;
    width: 300px;
    position: relative;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
}
.bni{
    margin-right: 2%;
}

.bni img{
    width: 50px;
    height: 35px;
}
.bri img{
    width: 50px;
    height: 50px;
}
.bri{
    margin-right: 2%;
}

.metodebwh{
    width: 100%;
    height: 50%;
    left: 0px;
    top: 40px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.bca{
    margin-right: 3%;

}
.jatim img{
    width: 50px;
    height: 40px;
}
a.noneklik:hover{
    color: black;
    background: none;
    text-decoration: none;
}

