*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(bg\ 4.png);
    background-size: cover;
}
nav{
    background:rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 60px;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    top: 0;
    z-index: 99;
}
label.logo1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FEE074;
    padding: 0px 0px 0px 100px;
}
label.logo2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
}
nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0px 30px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 13px;
}
a.klik, a:hover{
    background: #fff242b7;
    text-decoration: underline;
    transition: .5s;
}
#login{
    background: rgba(188, 154, 32, 0.9);
    border-radius: 50px;
}
.atas{
    margin: auto;
    background-image: url(wotuolu.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 300px;
    margin-top: 60px;
}

.judul{
    text-align: center;
    margin: auto;
    height: 240px;
    padding-top: 50px;
}

.judul h1{
    color: white;
    text-decoration-line: underline;
}

.wilayah{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.penjelasan{
    background-color: #DED4B2;
    border-radius: 0px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 1000px;
    height: 60px;
    padding: 10px;
    font-size: large;
    text-align: center;
}

.bawah{
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
    justify-content: space-evenly;
}
.deskripsi{
    border-radius: 5px;
    margin:auto;
    width: 300px;
    height: 180px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tambahan{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    width: 300px;
    height: 180px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.paket{
    border-radius: 5px;
    background-color: white;
    margin: auto;
    width: 300px;
    height: 180px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.akhir{
    width: 160px;
    margin: auto;
    margin-top: 30px;
}
.akhir button{
    font-family: sans-serif;
    background-color : #C09C17;
    font-size: 14px;
    border-radius: 5px;
    display: block;
    width: 160px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.checkbtn{
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    color: black;
    display: none;
}

#check{
    display: none;
}
.menubtn img{
    width: 30px;
}

@media only screen and (max-width:1300px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 50px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    label.logo1{
        font-size: 30px;
        line-height: 50px;
        color: #FEE074;
        padding: 0px 0px 0px 5%;
    }
    label.logo2{
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
        padding: 0px 0px 0px 0px;
    }
    nav ul{
        float: right;
        margin-right: 5%;
    }
    nav ul li{
        display: inline-block;
        line-height: 50px;
        margin: 0px 20px;
    }
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 13px;
    }
    .atas{
        width: 900px;
        height: 280px;
        margin-top: 50px;
    }
    
    .judul{
        margin: auto;
        height: 240px;
        padding-top: 50px;
    }

    .penjelasan{
        width: 900px;
        height: 60px;
    }
    
    .bawah{
        font-size: 12px;
        padding: 20px;
    }
    .deskripsi{
        width: 250px;
        height: 160px;
        padding: 20px;
    }
    .tambahan{
        width: 250px;
        height: 160px;
        padding: 20px;
    }
    .paket{
        width: 250px;
        height: 160px;
        padding: 20px;
    }
}

@media only screen and (max-width: 768px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 40px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }

    label.logo1{
        font-size: 20px;
        line-height: 40px;
        padding-left: 40px;
        margin-left: 20px;
    }

    label.logo2{
        font-size: 20px;
        line-height: 40px;
    }
    nav ul li a{
        font-size: 12px;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 200px;
        background:rgba(255, 255, 255, 0.8);
        top: 40px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked~ul{
        left: 0;
    }

    .checkbtn{
        line-height: 50px;
        display: block;
    }
    .menubtn img{
        width: 20px;
    }
    .atas{
        background-image: url("Gambar Mlakujatim/watu\ ulo.jpg");
        width: 500px;
        height: 180px;
        margin-top: 40px;
    }
    .atas h1{
        font-size: 16px;
    }
    .judul{
        height: 150px;
    }
    .wilayah{
        font-size: 13px;
        margin-top: 8px;
    }
    .penjelasan{
        width: 500px;
        height: 40px;
        padding: 5px;
    }
    .penjelasan p{
        font-size: 12px;
    }
    .bawah{
        width: 500px;
        font-size: 12px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .deskripsi{
        width: 220px;
        height: 100px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 10px;
    }
    .tambahan{
        width: 220px;
        height: 100px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 10px;
    }
    .paket{
        width: 220px;
        height: 100px;
        padding: 10px;
        font-size: 10px;
    }
    .akhir{
        width: 60px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .akhir button{
        font-size: 10px;
        width: 60px;
        height: 20px;
    }
}
