*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FEE074;
}
nav{
    background:rgba(255, 255, 255, 1);
    width: 100%;
    height: 60px;
    transition: 0.4s;
    position: fixed;
    top: 0;
    z-index: 99;
}
label.logo1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FEE074;
    padding: 0px 0px 0px 100px;
}
label.logo2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px;
}
nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0px 30px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 13px;
}
a.klik, a:hover{
    background: #fff242b7;
    text-decoration: underline;
    transition: .5s;
}
a#logo{
    background: none;
    text-decoration: none;
    transition: .5s;
}
#login{
    background: rgba(188, 154, 32, 0.9);
    border-radius: 50px;
}
.profile{
    box-sizing: border-box;
    width: 500px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
.namalengkap{
    margin: 20px 0px;
}
button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.aturakun{
    margin-top: 25px;
    margin-bottom: 30px;
}
.aturakun button{
    background-color: #E1C048;
    outline: none;
    cursor: pointer;
}
.tambahwisata{
    margin: 20px 0 20px;
}
.tambahwisata button{
    outline: none;
    cursor: pointer;
}
.kelolawisata button{
    outline: none;
    cursor: pointer;
}
.footer{
    background-color:#FFCF22 ;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 220px;
}
label.footer1{
    font-family: Cherry Cream Soda;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
    color: #FEE074;
}
label.footer2{
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 40px;
    color: #FFFFFF;
}
.footer p{
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.flexfooter{
    text-align: center;
    padding-top: 20px;
}

.definisi p{
    font-size: 16px;
}
.link{
    margin-top: -20px;
}
.sosmed img{
    width: 60px;
}
.simbol{
    margin-top: 20px;
}
a.sosmed:hover{
    background: none;
    text-decoration: none;
}
.checkbtn{
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    color: black;
    display: none;
}

#check{
    display: none;
}
.menubtn img{
    width: 30px;
}

@media only screen and (max-width:1300px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 50px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    label.logo1{
        font-size: 30px;
        line-height: 50px;
        color: #FEE074;
        padding: 0px 0px 0px 5%;
    }
    label.logo2{
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
        padding: 0px 0px 0px 0px;
    }
    nav ul{
        float: right;
        margin-right: 5%;
    }
    nav ul li{
        display: inline-block;
        line-height: 50px;
        margin: 0px 20px;
    }
    nav ul li a{
        color: black;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 13px;
    }

    .footer{
        background-color:#FFCF22 ;
        margin: auto;
        text-align: center;
        padding: 20px 0;
        position: relative;
        top: 20px;
        display: flex;
        justify-content: space-evenly;
        height: 180px;
    }
    label.footer1{
        font-size: 30px;
    }
    label.footer2{
        font-size: 30px;
    }
    .footer p{
        font-size: 16px;
        margin-top: 20px;
    }
    .flexfooter{
        display: flex;
        text-align: center;
        padding-top: 20px;
    }

    .definisi p{
        font-size: 14px;
    }
    .link{
        margin-top: -20px;
    }
    .simbol{
        margin-top: 20px;
    }
    .link img{
        width: 40px;
    }

}

@media only screen and (max-width: 768px){
    nav{
        background:rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 40px;
        overflow: hidden;
        transition: 0.4s;
        position: fixed;
        top: 0;
        z-index: 99;
    }

    label.logo1{
        font-size: 20px;
        line-height: 40px;
        padding-left: 40px;
        margin-left: 20px;
    }

    label.logo2{
        font-size: 20px;
        line-height: 40px;
    }
    nav ul li a{
        font-size: 12px;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 200px;
        background:rgba(255, 255, 255, 0.8);
        top: 40px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked~ul{
        left: 0;
    }

    .checkbtn{
        line-height: 50px;
        display: block;
    }

    .menubtn img{
        width: 20px;
    }
    .footer{
        background-color:#FFCF22 ;
        margin: auto;
        text-align: center;
        padding: 10px 0;
        position: relative;
        top: 20px;
        display: flex;
        justify-content: space-evenly;
        height: 130px;
    }
    label.footer1{
        font-size: 20px;
    }
    label.footer2{
        font-size: 20px;
    }
    .footer p{
        font-size: 10px;
        margin-top: 20px;
    }
    .flexfooter{
        display: flex;
        text-align: center;
        padding-top: 16px;
    }

    .definisi p{
        font-size: 10px;
        margin-top: 20px;
    }
    .link{
        margin-top: -20px;
    }
    .simbol{
        margin-top: 10px;
    }
    .link img{
        width: 25px;
    }

    .profile{
        width: 400px;
        text-align: center;
        margin-top: 60px;
    }
    .profile img{
        width: 80px;
        height: 80px;
    }
    .profile p{
        font-size: 10px;
    }
    button{
        padding: 5px;
        font-size: 8px;
    }
    .aturakun{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .tambahwisata{
        margin: 10px 0;
    }
}
